@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/livvic-v14-latin-500.woff2') format('woff2'),
       url('../fonts/livvic-v14-latin-500.woff') format('woff'),
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2'),
       url('../fonts/livvic-v14-latin-600.woff') format('woff'),
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2'), 
       url('../fonts/livvic-v14-latin-700.woff') format('woff'), 
}

*,
::before
::after {
  box-sizing: border-box;
}

body {
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 700;
}

img {
  display: block;
  height: auto;
}

.container {
  width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* header part starts */

.site-header {
  padding-top: 73px;
  padding-bottom: 70px;
  background-color: #014e56;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 80px;
}

.navbar-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.navbar-link {
  text-decoration-line: none;
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; 
  color: #fff;
}

.contact-us {
  padding: 10px 32px;
  text-decoration-line: none;
  margin-left: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; 
  color: #fff;
  border: 2px solid #fff;
  border-radius: 24px;
}

/* header part ends */

/* hero section starts */

.hero {
  padding-top: 60px;
  padding-bottom: 255px;
  background-color: #014e56;
  background-image: url("../images/hero-left-img-min.svg"), url("../images/hero-bottom-img-min.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 770px) calc(50% - 100px), calc(50% + 380px) calc(50% + 250px);
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-title-wrapper {
  width: 600px;
}

.hero-title {
  margin-block: 0;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}

.hero-red-title {
  color: #f67e7e;
}

.hero-desc-wrapper {
  width: 445px;
}

.hero-desc {
  position: relative;
  margin-block: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px; 
  color: #fff;
}

.hero-desc::before {
  position: absolute;
  top: -75px;
  display: inline-block;
  content: "";
  width: 50px;
  border-top: 4px solid #79c8c7;
}

/* hero section ends */

/* team section starts */

.team {
  padding-block: 140px;
  background-color: #012f34;
  background-image: url("../images/teams-bg-min.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 760px) calc(50% + 250px);
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
}

.team-subtitle-wrapper::before {
  display: inline-block;
  margin-bottom: 54px;
  content: "";
  width: 50px;
  border-top: 4px solid #f67e7e;
}

.team-subtitle {
  margin-block: 0;
  margin-right: 150px;
  font-size: 48px;
  line-height: 48px; 
  color: #fff;
}

.team-list {
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.team-item {
  padding-left: 23px;
}

.team-item-wrapper {
  display: flex;
}

.team-item-wrapper::before {
  display: inline-flex;
  padding-left: 40px;
  content: "";
  width: 72px;
  height: 72px;
  background-image: url("../images/individiuals-min.svg");
}

.team-item-wrapper:nth-child(2)::before {
  padding-left: 36px;
  background-image: url("../images/implement-min.svg");
}

.team-item-wrapper:nth-child(3)::before {
  padding-left: 36px;
  background-image: url("../images/productivity-min.svg");
}

.team-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 28px; 
  color: #f67e7e;
}

.team-desc {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px; 
  color: #fff;
  opacity: 0.8;
}

/* team section ends */

/* delivering section starts */

.delivering {
  padding-block: 140px;
  padding-bottom: 200px;
  background-color: #004047;
}

.delivering-title-wrapper {
  width: 932px;
  margin-inline: auto;
}

.delivering-title {
  margin-top: 0;
  margin-bottom: 92px;
  text-align: center;
  font-size: 48px;
  line-height: 48px; 
  color: #fff;
}

.delivering-title-blue {
  color: #79c8c7;
}

.delivering-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-block: 0;
  padding-left: 0;
  list-style-type: none;
}

.delivering-item {
  position: relative;
  width: 350px;
}

.delivering-item::before {
  position: absolute;
  left: 135px;
  top: -45px;
  display: inline-block;
  content: "";
  width: 67px;
  height: 56px;
  background-image: url("../images/hooks-min.svg");
}

.delivering-item::after {
  position: absolute;
  left: 140px;
  margin-top: 32px;
  display: inline-block;
  content: "";
  width: 70px;
  height: 70px;
  background-image: url("../images/baker.png");
  background-repeat: no-repeat;
}

.delivering-item:nth-child(2)::after {
  background-image: url("../images/reese.png");
}

.delivering-item:nth-child(3)::after {
  background-image: url("../images/clarke.png");
}

.delivering-desc {
  margin-block: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px; 
  color: #fff;
}

.employer-name {
  display: block;
  margin-bottom: 2px;
  text-align: center;
  font-size: 18px;
  line-height: 28px; 
  color: #79c8c7;
}

.employer-status {
  margin-block: 0;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px; 
  color: #fff;
}

/* delivering section sends */